/* @font-face{
  font-family: Abel;
  src: url('https://fonts.googleapis.com/css?family=Abel|Anton|Josefin+Sans|Lexend+Deca|Livvic&display=swap');
} */

@font-face {
    font-family: 'THOR-Ragnarok';
    src: url('../webfonts/webfonts_THOR-Ragnarok/THOR-Ragnarok.ttf.woff') format('woff'),
        url('../webfonts/webfonts_THOR-Ragnarok/THOR-Ragnarok.ttf.svg#THOR-Ragnarok') format('svg'),
        url('../webfonts/webfonts_THOR-Ragnarok/THOR-Ragnarok.ttf.eot'),
        url('../webfonts/webfonts_THOR-Ragnarok/THOR-Ragnarok.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face{
  font-family: quantum;
  src: url('../webfonts/quantum_4/Quantum.otf');
}